<table>
    <thead>
        <tr>
          <th (click)="onSortChange('id')">Id</th>
          <th (click)="onSortChange('nombre')">Nombre</th>
          <th (click)="onSortChange('apellido')">Apellido</th>
          <th (click)="onSortChange('email')">Email</th>
          <th (click)="onSortChange('createAt')">Fecha de creación</th>
        </tr>
      </thead>
      
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.apellido }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.createAt }}</td>
      </tr>
    </tbody>
  </table>
  
  <div class="pagination">
    <mat-paginator
      [length]="totalElements"
      [pageSize]="5"
      [pageIndex]="0"
      [pageSizeOptions]="[1, 5, 10]"
      [showFirstLastButtons]="true"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </div>

  